html {
    background: #F8F0E3;
}

body {
    font-family: monospace;
	box-sizing: border-box;
	width: 100%;
	height: 100%;
	min-width: 300px;
	max-width: 550px;
	margin: 0 auto;
	padding: 1 em;
}

header {
	margin-top: 80px;
	margin-bottom: 80px;
}

h1 {
	font-family: serif;
    font-size: 45px;
	color: #3e5229;
	margin-bottom: 20px;
}

h2 {
	font-family: serif;
	font-size: 30px;
	color: #3e5229;
}

h3 {
	font-size: 20px;
}

p {
	line-height: 1.4em;
	font-size: 14px;
}

ul {
	line-height: 20px;
}

nav ul {
	display: flex;
	flex-direction: row;
	justify-content: flex-end;
	column-gap: 12px;
}

nav ul li {
	list-style: none;
	font-size: 14px;
}

.bio {
	margin-top: 40px;
}

.books_heading {
	font-size: 25px;
}

.current_reads {
	display: flex;
	flex-direction: row;
	justify-content: flex-start;
	margin-bottom: 100px;
}

.reads {
	display: flex;
	flex-direction: row;
	justify-content: flex-start;
	margin-bottom: 30px;
}

.book {
	margin-right: 30px;
}

.title {
	font-size: 15px;
}

.title_long {
	font-size: 14px;
}

.title_very_long {
	font-size: 13px;
}

footer {
	margin-top: 80px;
	margin-bottom: 60px;
	font-size: 14px;
}
.socials {
	display: flex;
	flex-direction: row;
	column-gap: 14px;
}

.author_move_down {
	padding-top: 1.2em;
}

.author_move_down2 {
	padding-top: 2.3em;
}

figure {
	margin-left: 0;
}

.pages {
	display: flex;
	flex-direction: row;
	justify-content: flex-start;
	margin-top: -10px;
}

.page {
	margin-right: 20px;
}

.caption_small {
	font-size: 12px;
}

.block_of_quote {
	padding-top: 30px;
	padding-bottom: 30px;
}

.blog_excerpt {
	margin-left: -40px;
	margin-right: -40px;
	margin-top: 40px;
	margin-bottom: 40px;
}

.blog_title {
	margin-right: 40px;
	text-align: right;
}

.resume {
	display:flex;
	flex-direction: row;
	column-gap: 20px;
}

.education {
	margin-left: -300px;
	margin-right: 100px;
	max-width: 200px;
}

.experience {
	max-width: 550px;
}

.experience_1 {
	margin-bottom: 60px;
}

.subheading {
	margin-top: -16px;
}

.subheading_2 {
	margin-top: -10px;
}

.prototype {
	margin-top: 30px;
}
